{{#extend 'main'}}
  {{#content 'title'}}Your Profile{{/content}}

  <h2>Your Posts</h2>

  {{#if posts.length}}
    <div class="list-group">
      {{#each blogPosts}}
        <a href="/dashboard/blog/{{id}}" class="list-group-item list-group-item-action">
          <h4>{{title}}</h4>
          <small>{{date_created}}</small>
        </a>
      {{/each}}
    </div>
  {{else}}
    <p>You haven't created any posts yet.</p>
  {{/if}}

  <a href="/dashboard/new-post" class="btn btn-primary mt-4">Create New Post</a>
{{/extend}}
